body, html {
   height: 100%;
 }
 .bg {
   background-image: url("https://images.unsplash.com/photo-1632749161487-5f38ec89ebdf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4140&q=80");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .bg2 {
   background-image: url("https://images.unsplash.com/photo-1634153570366-deda92ecf625?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4096&q=80");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .bg3 {
   background-image: url("https://images.unsplash.com/photo-1634136145105-03a3c2455513?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4096&q=80");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .color{
   color: aliceblue;
 }

 .color:hover{
   color: black;
 }